{;;
 ;; demo.wordcount dev context
 ;;
 "parent.filenames" ["bract-context.edn"]
 :app/cli-inducers  [bract.core.inducer/read-config]
 :app/dev-inducers  [;; record the context for dev workflow
                     bract.core.dev/record-context!]}