{;;
 ;; demo.wordcount app context
 ;;
 :bract.cli/config-required? true                ; require config for the application
 :bract.core/config-files    ["baseconfig.edn"]  ; fall back to baseconfig.edn (in classpath) for config
 :bract.core/inducers [(bract.core.inducer/run-context-inducers :app/cli-inducers)
                       (bract.core.inducer/run-context-inducers :app/dev-inducers)]
 :app/cli-inducers    [bract.cli.inducer/parse-args
                       bract.core.inducer/read-config
                       bract.core.inducer/set-verbosity
                       bract.cli.inducer/execute-command]
 :app/dev-inducers    []
 :bract.core/launcher demo.wordcount.init/start}