{"parent.config.filenames" ["config.edn"]
 "bract.core.inducers" [bract.core.inducer/config-hook      ; record the config
                        bract.core.dev/record-context!      ; record the app context
                        bract.core.inducer/invoke-launcher  ; launch app
                        ]
 "bract.core.config-hook" bract.demo.wordcount.test-init/update-config!}

